In [14]:
!pip install pyspark
!pip install py4j

Requirement already satisfied: pyspark in /usr/local/spark/python (3.5.0)
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 3.1 MB/s eta 0:00:00a 0:00:01
Installing collected packages: py4j
Successfully installed py4j-0.10.9.7
Requirement already satisfied: py4j in /opt/conda/lib/python3.11/site-packages (0.10.9.7)

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import col, to_date, lit, coalesce, monotonically_increasing_id, lit
from pyspark.sql.types import DateType

# Инициализация SparkSession
spark = SparkSession.builder \
    .appName("ETL to Snowflake Model") \
    .config("spark.jars", "/usr/local/spark/jars/postgresql-42.7.5.jar") \
    .getOrCreate()

url = "jdbc:postgresql://host.docker.internal:65432/mydatabase"
properties = {
    "user": "myuser",
    "password": "mysecretpassword",
    "driver": "org.postgresql.Driver"
}

csv_files = [
    (1, "/home/jovyan/work/data/MOCK_DATA_1.csv"),  # ID 1-1000
    (2, "/home/jovyan/work/data/MOCK_DATA_2.csv"),  # ID 1001-2000
    (3, "/home/jovyan/work/data/MOCK_DATA_3.csv"),  # ID 2001-3000
    (4, "/home/jovyan/work/data/MOCK_DATA_4.csv"),  # ID 3001-4000
    (5, "/home/jovyan/work/data/MOCK_DATA_5.csv"),  # ID 4001-5000
    (6, "/home/jovyan/work/data/MOCK_DATA_6.csv"),  # ID 5001-6000
    (7, "/home/jovyan/work/data/MOCK_DATA_7.csv"),  # ID 6001-7000
    (8, "/home/jovyan/work/data/MOCK_DATA_8.csv"),  # ID 7001-8000
    (9, "/home/jovyan/work/data/MOCK_DATA_9.csv"),  # ID 8001-9000
    (10, "/home/jovyan/work/data/MOCK_DATA_10.csv") # ID 9001-10000
]

# Функция для загрузки файла с переиндексацией ID
def load_file_with_offset(file_num, file_path):
    df = spark.read \
        .option("header", "true") \
        .option("inferSchema", "true") \
        .option("multiLine", "true") \
        .option("quote", "\"") \
        .option("escape", "\"") \
        .csv(file_path)
    
    # Вычисляем смещение (1000 * (номер_файла - 1))
    offset = 1000 * (file_num - 1)
    
    # Переиндексируем ID
    df = df.withColumn("id", col("id") + offset)
    
    # Приводим типы данных
    df = df.withColumn("id", col("id").cast("integer")) \
        .withColumn("customer_age", col("customer_age").cast("integer")) \
        .withColumn("product_quantity", col("product_quantity").cast("integer")) \
        .withColumn("sale_customer_id", col("sale_customer_id").cast("integer")) \
        .withColumn("sale_seller_id", col("sale_seller_id").cast("integer")) \
        .withColumn("sale_product_id", col("sale_product_id").cast("integer")) \
        .withColumn("sale_quantity", col("sale_quantity").cast("integer")) \
        .withColumn("product_reviews", col("product_reviews").cast("integer")) \
        .withColumn("product_price", col("product_price").cast("decimal(10,2)")) \
        .withColumn("product_weight", col("product_weight").cast("decimal(10,2)")) \
        .withColumn("product_rating", col("product_rating").cast("decimal(3,1)")) \
        .withColumn("sale_total_price", col("sale_total_price").cast("decimal(10,2)")) \
        .withColumn("sale_date", 
                    coalesce(
                        to_date(col("sale_date"), "M/d/yyyy"),
                        to_date(col("sale_date"), "MM/dd/yyyy"),
                        lit(None).cast(DateType())
                    )) \
        .withColumn("product_release_date", 
                    coalesce(
                        to_date(col("product_release_date"), "M/d/yyyy"),
                        to_date(col("product_release_date"), "MM/dd/yyyy"),
                        lit(None).cast(DateType())
                    )) \
        .withColumn("product_expiry_date", 
                    coalesce(
                        to_date(col("product_expiry_date"), "M/d/yyyy"),
                        to_date(col("product_expiry_date"), "MM/dd/yyyy"),
                        lit(None).cast(DateType())
                    ))
    
    return df

In [2]:
# Загружаем и объединяем все файлы с переиндексацией
df_final = None
for file_num, file_path in csv_files:
    df = load_file_with_offset(file_num, file_path)
    if df_final is None:
        df_final = df
    else:
        df_final = df_final.union(df)

# Проверяем диапазоны ID
print("Минимальный ID:", df_final.agg({"id": "min"}).collect()[0][0])
print("Максимальный ID:", df_final.agg({"id": "max"}).collect()[0][0])
print("Общее количество записей:", df_final.count())

Минимальный ID: 1
Максимальный ID: 10000
Общее количество записей: 10000

In [49]:
customers_df = df.select("sale_customer_id", "customer_first_name", "customer_last_name", 
                         "customer_age", "customer_email", "customer_country", 
                         "customer_postal_code", "customer_pet_type", 
                         "customer_pet_name", "customer_pet_breed").distinct()

sellers_df = df.select("sale_seller_id", "seller_first_name", "seller_last_name", 
                       "seller_email", "seller_country", "seller_postal_code").distinct()

products_df = df.select("sale_product_id", "product_name", "product_category", 
                        "product_price", "product_quantity", "product_weight", 
                        "product_color", "product_size", "product_brand", 
                        "product_material", "product_description", 
                        "product_rating", "product_reviews", 
                        "product_release_date", "product_expiry_date").distinct()

stores_df = df.select("store_name", "store_location", "store_city", "store_state", 
                      "store_country", "store_phone", "store_email").distinct()

suppliers_df = df.select("supplier_name", "supplier_contact", "supplier_email", 
                         "supplier_phone", "supplier_address", "supplier_city", 
                         "supplier_country").distinct()

sales_df = df.select("id", "sale_customer_id", "sale_seller_id", "sale_product_id", 
                     "sale_quantity", "sale_total_price", "sale_date", "store_name").distinct()

customers_df.write.jdbc(url=url, table="customers", mode="overwrite", properties=properties)
sellers_df.write.jdbc(url=url, table="sellers", mode="overwrite", properties=properties)
products_df.write.jdbc(url=url, table="products", mode="overwrite", properties=properties)
stores_df.write.jdbc(url=url, table="stores", mode="overwrite", properties=properties)
suppliers_df.write.jdbc(url=url, table="suppliers", mode="overwrite", properties=properties)
sales_df.write.jdbc(url=url, table="sales", mode="overwrite", properties=properties)

In [50]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, count, desc, round, countDistinct
from py4j.java_gateway import java_import

spark = SparkSession.builder \
    .appName("ClickHouse Integration") \
    .config("spark.jars", "/usr/local/spark/jars/postgresql-42.7.5.jar,/usr/local/spark/jars/clickhouse-jdbc-0.4.6-all.jar") \
    .config("spark.driver.extraClassPath", "/usr/local/spark/jars/clickhouse-jdbc-0.4.6-all.jar") \
    .config("spark.executor.extraClassPath", "/usr/local/spark/jars/clickhouse-jdbc-0.4.6-all.jar") \
    .getOrCreate()

clickhouse_url = "jdbc:clickhouse://clickhouse:8123/mydatabase"
clickhouse_properties = {
    "user": "myuser",
    "password": "mysecretpassword",
    "driver": "com.clickhouse.jdbc.ClickHouseDriver"
}

try:
    java_import(spark._jvm, "java.sql.DriverManager")
    conn = spark._jvm.DriverManager.getConnection(
        clickhouse_url,
        clickhouse_properties["user"],
        clickhouse_properties["password"]
    )
    stmt = conn.createStatement()

    stmt.execute("CREATE DATABASE IF NOT EXISTS mydatabase")

    stmt.execute("DROP TABLE IF EXISTS mydatabase.top_selling_products")
    stmt.execute("DROP TABLE IF EXISTS mydatabase.revenue_by_category")
    stmt.execute("DROP TABLE IF EXISTS mydatabase.product_ratings")

    stmt.execute("""
    CREATE TABLE mydatabase.top_selling_products (
        product_id Int32,
        product_name String,
        product_category String,
        total_quantity_sold UInt64,
        total_revenue Decimal(18,2),
        transactions_count UInt64
    ) ENGINE = MergeTree()
    ORDER BY (total_quantity_sold, product_id)
    """)
    
    stmt.execute("""
    CREATE TABLE mydatabase.revenue_by_category (
        category String,
        total_revenue Decimal(18,2),
        total_quantity UInt64,
        unique_products UInt32,
        transactions_count UInt64
    ) ENGINE = MergeTree()
    ORDER BY (total_revenue, category)
    """)
    
    stmt.execute("""
    CREATE TABLE mydatabase.product_ratings (
        product_id Int32,
        product_name String,
        product_category String,
        product_rating Float32,
        product_reviews UInt32,
        total_quantity_sold UInt64,
        total_revenue Decimal(18,2),
        sales_count UInt64
    ) ENGINE = MergeTree()
    ORDER BY (product_rating, product_id)
    """)
    
    stmt.close()
    conn.close()
except Exception as e:
    print(f"Ошибка при создании таблиц: {str(e)}")
    raise

products_df = spark.read.jdbc(
    url="jdbc:postgresql://host.docker.internal:65432/mydatabase",
    table="products",
    properties={
        "user": "myuser",
        "password": "mysecretpassword",
        "driver": "org.postgresql.Driver"
    }
)

sales_df = spark.read.jdbc(
    url="jdbc:postgresql://host.docker.internal:65432/mydatabase",
    table="sales",
    properties={
        "user": "myuser",
        "password": "mysecretpassword",
        "driver": "org.postgresql.Driver"
    }
)

In [23]:
print("Продукты:")
products_df.show(5)
print(f"Всего продуктов: {products_df.count()}")

print("\nПродажи:")
sales_df.show(5)
print(f"Всего продаж: {sales_df.count()}")

print("\nУникальные ID продуктов в таблице продуктов:")
products_df.select("sale_product_id").distinct().show(5)

print("\nУникальные ID продуктов в таблице продаж:")
sales_df.select("sale_product_id").distinct().show(5)

Продукты:
+---------------+------------+----------------+-------------+----------------+--------------+-------------+------------+-------------+----------------+--------------------+--------------+---------------+--------------------+-------------------+
|sale_product_id|product_name|product_category|product_price|product_quantity|product_weight|product_color|product_size|product_brand|product_material| product_description|product_rating|product_reviews|product_release_date|product_expiry_date|
+---------------+------------+----------------+-------------+----------------+--------------+-------------+------------+-------------+----------------+--------------------+--------------+---------------+--------------------+-------------------+
|            408|    Dog Food|             Toy|        88.68|              82|         30.00|         Teal|      Medium|       Trudoo|          Rubber|Duis aliquam conv...|           1.8|            375|          2011-10-06|         2029-05-17|
|            644|   Bird Cage|            Cage|        73.45|              45|         48.90|       Indigo|      Medium|       Voonyx|           Vinyl|Quisque id justo ...|           1.4|             92|          2010-06-05|         2030-11-28|
|            672|     Cat Toy|             Toy|        36.04|              53|         11.40|         Teal|       Small|       BlogXS|         Granite|Vestibulum quam s...|           4.0|            827|          2020-09-17|         2028-04-21|
|            759|     Cat Toy|             Toy|        10.55|              58|         32.80|      Crimson|       Large|       BlogXS|      Plexiglass|Etiam vel augue. ...|           4.4|            299|          2010-05-04|         2027-10-23|
|            940|   Bird Cage|            Food|        56.29|              28|          0.30|       Violet|      Medium|        Mynte|           Stone|Vestibulum ac est...|           1.0|            391|          2012-06-04|         2027-02-16|
+---------------+------------+----------------+-------------+----------------+--------------+-------------+------------+-------------+----------------+--------------------+--------------+---------------+--------------------+-------------------+
only showing top 5 rows

Всего продуктов: 1000

Продажи:
+----+----------------+--------------+---------------+-------------+----------------+----------+----------+
|  id|sale_customer_id|sale_seller_id|sale_product_id|sale_quantity|sale_total_price| sale_date|store_name|
+----+----------------+--------------+---------------+-------------+----------------+----------+----------+
|9031|              31|            31|             31|            5|          344.60|2021-10-23|      Eare|
|9502|             502|           502|            502|            5|          139.36|2021-03-13|      Yodo|
|9570|             570|           570|            570|            9|           72.93|2021-08-27|Browseblab|
|9836|             836|           836|            836|            3|          452.24|2021-02-24|Brainverse|
|9891|             891|           891|            891|            7|          130.03|2021-11-16|  Flashdog|
+----+----------------+--------------+---------------+-------------+----------------+----------+----------+
only showing top 5 rows

Всего продаж: 1000

Уникальные ID продуктов в таблице продуктов:
+---------------+
|sale_product_id|
+---------------+
|            148|
|            463|
|            471|
|            833|
|            496|
+---------------+
only showing top 5 rows


Уникальные ID продуктов в таблице продаж:
+---------------+
|sale_product_id|
+---------------+
|            148|
|            471|
|            463|
|            833|
|            496|
+---------------+
only showing top 5 rows

In [51]:
# Топ-10 продуктов
top_selling_products = sales_df.join(
    products_df, 
    sales_df["sale_product_id"] == products_df["sale_product_id"]
).groupBy(
    sales_df["sale_product_id"].alias("product_id"),
    products_df["product_name"],
    products_df["product_category"]  # Убедимся, что столбец добавлен
).agg(
    sum("sale_quantity").alias("total_quantity_sold"),
    sum("sale_total_price").alias("total_revenue"),
    count("*").alias("transactions_count")
).orderBy(desc("total_quantity_sold")).limit(10)

# Выручка по категориям
revenue_by_category = sales_df.join(
    products_df,
    sales_df["sale_product_id"] == products_df["sale_product_id"]
).groupBy(
    products_df["product_category"].alias("category")
).agg(
    sum("sale_total_price").alias("total_revenue"),
    sum("sale_quantity").alias("total_quantity"),
    countDistinct(products_df["sale_product_id"]).alias("unique_products"),
    count("*").alias("transactions_count")
).orderBy(desc("total_revenue"))

# Рейтинги продуктов
sales_agg = sales_df.groupBy("sale_product_id").agg(
    sum("sale_quantity").alias("total_quantity_sold"),
    sum("sale_total_price").alias("total_revenue"),
    count("*").alias("sales_count")
)

product_ratings = products_df.join(
    sales_agg,
    products_df["sale_product_id"] == sales_agg["sale_product_id"]
).select(
    products_df["sale_product_id"].alias("product_id"),
    products_df["product_name"],
    products_df["product_category"],
    products_df["product_rating"],
    products_df["product_reviews"],
    sales_agg["total_quantity_sold"],
    sales_agg["total_revenue"],
    sales_agg["sales_count"]
).orderBy(desc("product_rating"))

# Для top_selling_products
top_selling_products = top_selling_products.select(
    col("product_id").cast("integer").alias("product_id"),
    col("product_name"),
    col("product_category"),
    col("total_quantity_sold").cast("long").alias("total_quantity_sold"),
    col("total_revenue").cast("decimal(18,2)").alias("total_revenue"),
    col("transactions_count").cast("long").alias("transactions_count")
)

# Для revenue_by_category
revenue_by_category = revenue_by_category.select(
    col("category"),
    col("total_revenue").cast("decimal(18,2)").alias("total_revenue"),
    col("total_quantity").cast("long").alias("total_quantity"),
    col("unique_products").cast("integer").alias("unique_products"),
    col("transactions_count").cast("long").alias("transactions_count")
)

# Для product_ratings
product_ratings = product_ratings.select(
    col("product_id").cast("integer").alias("product_id"),
    col("product_name"),
    col("product_category"),
    col("product_rating").cast("float").alias("product_rating"),
    col("product_reviews").cast("integer").alias("product_reviews"),
    col("total_quantity_sold").cast("long").alias("total_quantity_sold"),
    col("total_revenue").cast("decimal(18,2)").alias("total_revenue"),
    col("sales_count").cast("long").alias("sales_count")
)

try:
    top_selling_products.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "top_selling_products") \
        .mode("append") \
        .save()
    print("\nТоп продуктов успешно записан")

    revenue_by_category.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "revenue_by_category") \
        .mode("append") \
        .save()
    print("Выручка по категориям успешно записана")

    product_ratings.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "product_ratings") \
        .mode("append") \
        .save()
    print("Рейтинги продуктов успешно записаны")
    
except Exception as e:
    print(f"\nОшибка при записи: {str(e)}")

print("\nТоп-10 самых продаваемых продуктов:")
top_selling_products.show()
print("\nВыручка по категориям:")
revenue_by_category.show()
print("\nРейтинги продуктов:")
product_ratings.show()

Топ продуктов успешно записан
Выручка по категориям успешно записана
Рейтинги продуктов успешно записаны

Топ-10 самых продаваемых продуктов:
+----------+------------+----------------+-------------------+-------------+------------------+
|product_id|product_name|product_category|total_quantity_sold|total_revenue|transactions_count|
+----------+------------+----------------+-------------------+-------------+------------------+
|       596|   Bird Cage|             Toy|                 10|       390.15|                 1|
|       233|   Bird Cage|            Food|                 10|       327.41|                 1|
|       497|    Dog Food|            Cage|                 10|       341.20|                 1|
|       593|   Bird Cage|            Food|                 10|       106.90|                 1|
|       688|    Dog Food|            Food|                 10|        91.32|                 1|
|       322|    Dog Food|             Toy|                 10|       489.77|                 1|
|       844|     Cat Toy|            Cage|                 10|       448.61|                 1|
|       471|   Bird Cage|            Cage|                 10|        37.29|                 1|
|       329|     Cat Toy|             Toy|                 10|        55.74|                 1|
|       772|     Cat Toy|            Food|                 10|       397.93|                 1|
+----------+------------+----------------+-------------------+-------------+------------------+


Выручка по категориям:
+--------+-------------+--------------+---------------+------------------+
|category|total_revenue|total_quantity|unique_products|transactions_count|
+--------+-------------+--------------+---------------+------------------+
|    Cage|     89347.92|          1902|            343|               343|
|     Toy|     86226.77|          1833|            339|               339|
|    Food|     82627.61|          1731|            318|               318|
+--------+-------------+--------------+---------------+------------------+


Рейтинги продуктов:
+----------+------------+----------------+--------------+---------------+-------------------+-------------+-----------+
|product_id|product_name|product_category|product_rating|product_reviews|total_quantity_sold|total_revenue|sales_count|
+----------+------------+----------------+--------------+---------------+-------------------+-------------+-----------+
|       496|    Dog Food|            Cage|           5.0|            148|                  1|       346.99|          1|
|        65|     Cat Toy|             Toy|           5.0|            838|                  5|       311.62|          1|
|       876|    Dog Food|            Cage|           5.0|            447|                  5|        66.31|          1|
|       210|    Dog Food|            Food|           5.0|            107|                  6|       338.96|          1|
|       654|     Cat Toy|            Cage|           5.0|            335|                  2|       346.15|          1|
|       177|    Dog Food|             Toy|           5.0|            898|                  9|       305.08|          1|
|        19|     Cat Toy|            Cage|           5.0|            851|                 10|       308.17|          1|
|       523|    Dog Food|             Toy|           5.0|            966|                  1|       410.77|          1|
|       505|    Dog Food|             Toy|           5.0|            456|                  6|       134.06|          1|
|       838|     Cat Toy|             Toy|           5.0|            461|                  5|       134.81|          1|
|       434|    Dog Food|            Cage|           5.0|            714|                  5|       328.83|          1|
|       907|     Cat Toy|             Toy|           5.0|            808|                  5|       379.09|          1|
|        50|   Bird Cage|            Food|           5.0|            410|                  7|       234.26|          1|
|       945|    Dog Food|            Cage|           5.0|            104|                  8|        36.63|          1|
|       921|   Bird Cage|            Cage|           5.0|            620|                  5|       194.69|          1|
|       480|     Cat Toy|            Cage|           5.0|            376|                  2|        87.02|          1|
|       287|     Cat Toy|            Food|           5.0|             69|                  2|       439.05|          1|
|       201|   Bird Cage|            Cage|           5.0|            924|                  2|       444.55|          1|
|        67|     Cat Toy|            Cage|           5.0|            550|                  5|       474.01|          1|
|       425|   Bird Cage|             Toy|           4.9|            205|                  3|       438.60|          1|
+----------+------------+----------------+--------------+---------------+-------------------+-------------+-----------+
only showing top 20 rows

In [42]:
top_products_df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:clickhouse://clickhouse:8123/mydatabase") \
    .option("user", "myuser") \
    .option("password", "mysecretpassword") \
    .option("query", "SELECT * FROM top_selling_products LIMIT 5") \
    .load()

top_products_df.show()

+----------+------------+----------------+-------------------+-------------+------------------+
|product_id|product_name|product_category|total_quantity_sold|total_revenue|transactions_count|
+----------+------------+----------------+-------------------+-------------+------------------+
|       233|   Bird Cage|            Food|                 10|       327.41|                 1|
|       243|     Cat Toy|            Food|                 10|       372.34|                 1|
|       329|     Cat Toy|             Toy|                 10|        55.74|                 1|
|       481|     Cat Toy|            Food|                 10|       286.68|                 1|
|       497|    Dog Food|            Cage|                 10|       341.20|                 1|
+----------+------------+----------------+-------------------+-------------+------------------+

In [52]:
# 1. Топ-10 клиентов с наибольшей общей суммой покупок
top_customers = sales_df.join(
    customers_df,
    sales_df["sale_customer_id"] == customers_df["sale_customer_id"]
).groupBy(
    sales_df["sale_customer_id"].alias("customer_id"),
    customers_df["customer_first_name"],
    customers_df["customer_last_name"],
    customers_df["customer_country"]
).agg(
    sum("sale_total_price").alias("total_spent"),
    count("*").alias("purchase_count"),
    (sum("sale_total_price") / count("*")).alias("avg_check")
).orderBy(
    desc("total_spent")
).limit(10)

# 2. Распределение клиентов по странам
customers_by_country = customers_df.groupBy(
    "customer_country"
).agg(
    count("*").alias("customer_count"),
    avg("customer_age").alias("avg_age")
).orderBy(
    desc("customer_count")
)

# 3. Средний чек для каждого клиента (дополнение к первой витрине)
customer_metrics = sales_df.join(
    customers_df,
    sales_df["sale_customer_id"] == customers_df["sale_customer_id"]
).groupBy(
    sales_df["sale_customer_id"].alias("customer_id"),
    customers_df["customer_first_name"],
    customers_df["customer_last_name"]
).agg(
    sum("sale_total_price").alias("total_spent"),
    count("*").alias("purchase_count"),
    (sum("sale_total_price") / count("*")).alias("avg_check"),
    countDistinct("sale_product_id").alias("unique_products_bought")
).orderBy(
    desc("total_spent")
)

# Создаем таблицы в ClickHouse для новой витрины
try:
    java_import(spark._jvm, "java.sql.DriverManager")
    conn = spark._jvm.DriverManager.getConnection(
        clickhouse_url,
        clickhouse_properties["user"],
        clickhouse_properties["password"]
    )
    stmt = conn.createStatement()
    
    stmt.execute("DROP TABLE IF EXISTS mydatabase.top_customers")
    stmt.execute("DROP TABLE IF EXISTS mydatabase.customers_by_country")
    stmt.execute("DROP TABLE IF EXISTS mydatabase.customer_metrics")
    
    stmt.execute("""
    CREATE TABLE mydatabase.top_customers (
        customer_id Int32,
        first_name String,
        last_name String,
        country String,
        total_spent Decimal(18,2),
        purchase_count UInt32,
        avg_check Decimal(18,2)
    ) ENGINE = MergeTree()
    ORDER BY (total_spent, customer_id)
    """)
    
    stmt.execute("""
    CREATE TABLE mydatabase.customers_by_country (
        country String,
        customer_count UInt32,
        avg_age Float32
    ) ENGINE = MergeTree()
    ORDER BY (customer_count, country)
    """)
    
    stmt.execute("""
    CREATE TABLE mydatabase.customer_metrics (
        customer_id Int32,
        first_name String,
        last_name String,
        total_spent Decimal(18,2),
        purchase_count UInt32,
        avg_check Decimal(18,2),
        unique_products_bought UInt32
    ) ENGINE = MergeTree()
    ORDER BY (total_spent, customer_id)
    """)
    
    stmt.close()
    conn.close()
    print("Таблицы для витрины клиентов успешно созданы")
except Exception as e:
    print(f"Ошибка при создании таблиц: {str(e)}")
    raise

# Приведение типов для записи в ClickHouse
top_customers = top_customers.select(
    col("customer_id").cast("integer").alias("customer_id"),
    col("customer_first_name").alias("first_name"),
    col("customer_last_name").alias("last_name"),
    col("customer_country").alias("country"),
    col("total_spent").cast("decimal(18,2)").alias("total_spent"),
    col("purchase_count").cast("integer").alias("purchase_count"),
    col("avg_check").cast("decimal(18,2)").alias("avg_check")
)

customers_by_country = customers_by_country.select(
    col("customer_country").alias("country"),
    col("customer_count").cast("integer").alias("customer_count"),
    col("avg_age").cast("float").alias("avg_age")
)

customer_metrics = customer_metrics.select(
    col("customer_id").cast("integer").alias("customer_id"),
    col("customer_first_name").alias("first_name"),
    col("customer_last_name").alias("last_name"),
    col("total_spent").cast("decimal(18,2)").alias("total_spent"),
    col("purchase_count").cast("integer").alias("purchase_count"),
    col("avg_check").cast("decimal(18,2)").alias("avg_check"),
    col("unique_products_bought").cast("integer").alias("unique_products_bought")
)

# Запись в ClickHouse
try:
    # 1. Топ клиенты
    top_customers.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "top_customers") \
        .mode("append") \
        .save()
    
    # 2. Клиенты по странам
    customers_by_country.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "customers_by_country") \
        .mode("append") \
        .save()
    
    # 3. Метрики клиентов
    customer_metrics.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "customer_metrics") \
        .mode("append") \
        .save()
    
    print("\nВсе витрины клиентов успешно записаны в ClickHouse!")
    
except Exception as e:
    print(f"\nОшибка при записи: {str(e)}")

# Вывод результатов
print("\nТоп-10 клиентов по сумме покупок:")
top_customers.show()

print("\nРаспределение клиентов по странам:")
customers_by_country.show()

print("\nМетрики клиентов (первые 20):")
customer_metrics.show(20)

Таблицы для витрины клиентов успешно созданы

Все витрины клиентов успешно записаны в ClickHouse!

Топ-10 клиентов по сумме покупок:
+-----------+----------+----------+------------+-----------+--------------+---------+
|customer_id|first_name| last_name|     country|total_spent|purchase_count|avg_check|
+-----------+----------+----------+------------+-----------+--------------+---------+
|        951|      Dame|Auchinleck|   Indonesia|     499.71|             1|   499.71|
|        898|      Toby|    Tatlow|       China|     499.47|             1|   499.47|
|        977|     Judon|   Linnock|       China|     498.47|             1|   498.47|
|        278|      Lane| Pollicatt|      Russia|     498.42|             1|   498.42|
|        618|    Suzann|   Ridpath|      Russia|     497.86|             1|   497.86|
|        956|      Cary|     Mahon|      Russia|     497.25|             1|   497.25|
|        123|     Hanny|   Babcock|       China|     496.02|             1|   496.02|
|        446|  Bancroft|  Wethered|South Africa|     495.77|             1|   495.77|
|        168|      Tera|     Ayres|      France|     495.77|             1|   495.77|
|         44|     Cully|    Wanell|      Russia|     495.46|             1|   495.46|
+-----------+----------+----------+------------+-----------+--------------+---------+


Распределение клиентов по странам:
+--------------+--------------+---------+
|       country|customer_count|  avg_age|
+--------------+--------------+---------+
|         China|           192|49.328125|
|     Indonesia|           141|53.432625|
|        Russia|            75|    53.32|
|   Philippines|            54|53.648148|
|        Brazil|            37|50.648647|
|      Portugal|            32| 53.96875|
|        Poland|            30|     61.3|
|        France|            28| 56.82143|
|        Sweden|            24|51.958332|
| United States|            19|45.473682|
|       Ukraine|            16|  62.9375|
|         Japan|            16|  45.9375|
|Czech Republic|            14| 48.07143|
|        Greece|            12|59.583332|
|     Argentina|            12|    55.25|
|          Peru|            12|55.666668|
|        Canada|            11|44.727272|
|       Croatia|            10|     56.5|
|      Thailand|            10|     44.2|
|  South Africa|            10|     57.6|
+--------------+--------------+---------+
only showing top 20 rows


Метрики клиентов (первые 20):
+-----------+----------+----------+-----------+--------------+---------+----------------------+
|customer_id|first_name| last_name|total_spent|purchase_count|avg_check|unique_products_bought|
+-----------+----------+----------+-----------+--------------+---------+----------------------+
|        951|      Dame|Auchinleck|     499.71|             1|   499.71|                     1|
|        898|      Toby|    Tatlow|     499.47|             1|   499.47|                     1|
|        977|     Judon|   Linnock|     498.47|             1|   498.47|                     1|
|        278|      Lane| Pollicatt|     498.42|             1|   498.42|                     1|
|        618|    Suzann|   Ridpath|     497.86|             1|   497.86|                     1|
|        956|      Cary|     Mahon|     497.25|             1|   497.25|                     1|
|        123|     Hanny|   Babcock|     496.02|             1|   496.02|                     1|
|        446|  Bancroft|  Wethered|     495.77|             1|   495.77|                     1|
|        168|      Tera|     Ayres|     495.77|             1|   495.77|                     1|
|         44|     Cully|    Wanell|     495.46|             1|   495.46|                     1|
|        997|  Benedick|  Sherwell|     495.11|             1|   495.11|                     1|
|        776|      Alvy|       Hum|     494.31|             1|   494.31|                     1|
|        350|       Ham|     Husby|     494.28|             1|   494.28|                     1|
|        185|Antonietta|    Joules|     493.48|             1|   493.48|                     1|
|        191|  Meridith|     Young|     492.02|             1|   492.02|                     1|
|        313|     Wally|   Cobbold|     491.22|             1|   491.22|                     1|
|        282|       Peg|  Tompsett|     489.92|             1|   489.92|                     1|
|        322|   Jourdan|  Peterken|     489.77|             1|   489.77|                     1|
|        179|    Isobel|    Ridger|     488.95|             1|   488.95|                     1|
|        516|     Felic|   Bischop|     488.48|             1|   488.48|                     1|
+-----------+----------+----------+-----------+--------------+---------+----------------------+
only showing top 20 rows

In [53]:
from pyspark.sql.functions import year, month, quarter, date_format

# 1. Месячные и годовые тренды продаж
sales_trends = sales_df.withColumn("year", year("sale_date")) \
                      .withColumn("month", month("sale_date")) \
                      .withColumn("quarter", quarter("sale_date")) \
                      .groupBy("year", "quarter", "month") \
                      .agg(
                          sum("sale_total_price").alias("total_revenue"),
                          sum("sale_quantity").alias("total_quantity"),
                          count("*").alias("order_count"),
                          avg("sale_total_price").alias("avg_order_value")
                      ) \
                      .orderBy("year", "quarter", "month")

# 2. Сравнение выручки за разные периоды (месяц к месяцу)
monthly_comparison = sales_df.withColumn("year_month", date_format("sale_date", "yyyy-MM")) \
                            .groupBy("year_month") \
                            .agg(
                                sum("sale_total_price").alias("monthly_revenue"),
                                count("*").alias("order_count")
                            ) \
                            .orderBy("year_month")

# 3. Средний размер заказа по месяцам
avg_order_by_month = sales_df.withColumn("year_month", date_format("sale_date", "yyyy-MM")) \
                            .groupBy("year_month") \
                            .agg(
                                avg("sale_total_price").alias("avg_order_value"),
                                count("*").alias("order_count")
                            ) \
                            .orderBy("year_month")

# Создаем таблицы в ClickHouse для временных трендов
try:
    java_import(spark._jvm, "java.sql.DriverManager")
    conn = spark._jvm.DriverManager.getConnection(
        clickhouse_url,
        clickhouse_properties["user"],
        clickhouse_properties["password"]
    )
    stmt = conn.createStatement()
    
    stmt.execute("DROP TABLE IF EXISTS mydatabase.sales_trends")
    stmt.execute("DROP TABLE IF EXISTS mydatabase.monthly_comparison")
    stmt.execute("DROP TABLE IF EXISTS mydatabase.avg_order_by_month")
    
    stmt.execute("""
    CREATE TABLE mydatabase.sales_trends (
        year UInt16,
        quarter UInt8,
        month UInt8,
        total_revenue Decimal(18,2),
        total_quantity UInt32,
        order_count UInt32,
        avg_order_value Decimal(18,2)
    ) ENGINE = MergeTree()
    ORDER BY (year, quarter, month)
    """)
    
    stmt.execute("""
    CREATE TABLE mydatabase.monthly_comparison (
        year_month String,
        monthly_revenue Decimal(18,2),
        order_count UInt32
    ) ENGINE = MergeTree()
    ORDER BY (year_month)
    """)
    
    stmt.execute("""
    CREATE TABLE mydatabase.avg_order_by_month (
        year_month String,
        avg_order_value Decimal(18,2),
        order_count UInt32
    ) ENGINE = MergeTree()
    ORDER BY (year_month)
    """)
    
    stmt.close()
    conn.close()
    print("Таблицы для временных трендов успешно созданы")
except Exception as e:
    print(f"Ошибка при создании таблиц: {str(e)}")
    raise

# Приведение типов для записи в ClickHouse
sales_trends = sales_trends.select(
    col("year").cast("integer").alias("year"),
    col("quarter").cast("integer").alias("quarter"),
    col("month").cast("integer").alias("month"),
    col("total_revenue").cast("decimal(18,2)").alias("total_revenue"),
    col("total_quantity").cast("integer").alias("total_quantity"),
    col("order_count").cast("integer").alias("order_count"),
    col("avg_order_value").cast("decimal(18,2)").alias("avg_order_value")
)

monthly_comparison = monthly_comparison.select(
    col("year_month"),
    col("monthly_revenue").cast("decimal(18,2)").alias("monthly_revenue"),
    col("order_count").cast("integer").alias("order_count")
)

avg_order_by_month = avg_order_by_month.select(
    col("year_month"),
    col("avg_order_value").cast("decimal(18,2)").alias("avg_order_value"),
    col("order_count").cast("integer").alias("order_count")
)

# Запись в ClickHouse
try:
    # 1. Тренды продаж
    sales_trends.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "sales_trends") \
        .mode("append") \
        .save()
    
    # 2. Сравнение по месяцам
    monthly_comparison.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "monthly_comparison") \
        .mode("append") \
        .save()
    
    # 3. Средний чек по месяцам
    avg_order_by_month.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "avg_order_by_month") \
        .mode("append") \
        .save()
    
    print("\nВсе витрины временных трендов успешно записаны в ClickHouse!")
    
except Exception as e:
    print(f"\nОшибка при записи: {str(e)}")

# Вывод результатов
print("\nТренды продаж (первые 12 месяцев):")
sales_trends.show(12)

print("\nСравнение выручки по месяцам:")
monthly_comparison.show()

print("\nСредний размер заказа по месяцам:")
avg_order_by_month.show()

Таблицы для временных трендов успешно созданы

Все витрины временных трендов успешно записаны в ClickHouse!

Тренды продаж (первые 12 месяцев):
+----+-------+-----+-------------+--------------+-----------+---------------+
|year|quarter|month|total_revenue|total_quantity|order_count|avg_order_value|
+----+-------+-----+-------------+--------------+-----------+---------------+
|2021|      1|    1|     16770.61|           387|         67|         250.31|
|2021|      1|    2|     19287.36|           384|         74|         260.64|
|2021|      1|    3|     24403.25|           514|         91|         268.17|
|2021|      2|    4|     19572.91|           431|         76|         257.54|
|2021|      2|    5|     20175.29|           430|         78|         258.66|
|2021|      2|    6|     19788.09|           407|         78|         253.69|
|2021|      3|    7|     24018.59|           514|         90|         266.87|
|2021|      3|    8|     24263.73|           547|        102|         237.88|
|2021|      3|    9|     22501.98|           482|         93|         241.96|
|2021|      4|   10|     27096.28|           521|         95|         285.22|
|2021|      4|   11|     22699.66|           433|         84|         270.23|
|2021|      4|   12|     17624.55|           416|         72|         244.79|
+----+-------+-----+-------------+--------------+-----------+---------------+


Сравнение выручки по месяцам:
+----------+---------------+-----------+
|year_month|monthly_revenue|order_count|
+----------+---------------+-----------+
|   2021-01|       16770.61|         67|
|   2021-02|       19287.36|         74|
|   2021-03|       24403.25|         91|
|   2021-04|       19572.91|         76|
|   2021-05|       20175.29|         78|
|   2021-06|       19788.09|         78|
|   2021-07|       24018.59|         90|
|   2021-08|       24263.73|        102|
|   2021-09|       22501.98|         93|
|   2021-10|       27096.28|         95|
|   2021-11|       22699.66|         84|
|   2021-12|       17624.55|         72|
+----------+---------------+-----------+


Средний размер заказа по месяцам:
+----------+---------------+-----------+
|year_month|avg_order_value|order_count|
+----------+---------------+-----------+
|   2021-01|         250.31|         67|
|   2021-02|         260.64|         74|
|   2021-03|         268.17|         91|
|   2021-04|         257.54|         76|
|   2021-05|         258.66|         78|
|   2021-06|         253.69|         78|
|   2021-07|         266.87|         90|
|   2021-08|         237.88|        102|
|   2021-09|         241.96|         93|
|   2021-10|         285.22|         95|
|   2021-11|         270.23|         84|
|   2021-12|         244.79|         72|
+----------+---------------+-----------+

In [58]:
# 1. Топ-5 магазинов с наибольшей выручкой
top_stores = sales_df.join(stores_df, "store_name", "inner") \
                    .groupBy("store_name", "store_city", "store_country") \
                    .agg(
                        sum("sale_total_price").alias("total_revenue"),
                        count("*").alias("order_count")
                    ) \
                    .orderBy(col("total_revenue").desc()) \
                    .limit(5)

# 2. Распределение продаж по городам и странам
sales_by_location = sales_df.join(stores_df, "store_name", "inner") \
                           .groupBy("store_country", "store_city") \
                           .agg(
                               sum("sale_total_price").alias("total_revenue"),
                               sum("sale_quantity").alias("total_quantity"),
                               count("*").alias("order_count")
                           ) \
                           .orderBy(col("store_country"), col("total_revenue").desc())

# 3. Средний чек для каждого магазина
avg_order_by_store = sales_df.join(stores_df, "store_name", "inner") \
                            .groupBy("store_name", "store_city", "store_country") \
                            .agg(
                                avg("sale_total_price").alias("avg_order_value"),
                                sum("sale_total_price").alias("total_revenue"),
                                count("*").alias("order_count")
                            ) \
                            .orderBy(col("avg_order_value").desc())

# Создаем таблицы в ClickHouse для витрины магазинов
try:
    java_import(spark._jvm, "java.sql.DriverManager")
    conn = spark._jvm.DriverManager.getConnection(
        clickhouse_url,
        clickhouse_properties["user"],
        clickhouse_properties["password"]
    )
    stmt = conn.createStatement()
    
    stmt.execute("DROP TABLE IF EXISTS mydatabase.top_stores")
    stmt.execute("DROP TABLE IF EXISTS mydatabase.sales_by_location")
    stmt.execute("DROP TABLE IF EXISTS mydatabase.avg_order_by_store")
    
    # Создаем таблицы с сортировкой по возрастанию (по умолчанию)
    stmt.execute("""
    CREATE TABLE mydatabase.top_stores (
        store_name String,
        store_city String,
        store_country String,
        total_revenue Decimal(18,2),
        order_count UInt32
    ) ENGINE = MergeTree()
    ORDER BY (total_revenue)
    """)
    
    stmt.execute("""
    CREATE TABLE mydatabase.sales_by_location (
        store_country String,
        store_city String,
        total_revenue Decimal(18,2),
        total_quantity UInt32,
        order_count UInt32
    ) ENGINE = MergeTree()
    ORDER BY (store_country, total_revenue)
    """)
    
    stmt.execute("""
    CREATE TABLE mydatabase.avg_order_by_store (
        store_name String,
        store_city String,
        store_country String,
        avg_order_value Decimal(18,2),
        total_revenue Decimal(18,2),
        order_count UInt32
    ) ENGINE = MergeTree()
    ORDER BY (avg_order_value)
    """)
    
    stmt.close()
    conn.close()
    print("Таблицы для витрины магазинов успешно созданы")
except Exception as e:
    print(f"Ошибка при создании таблиц: {str(e)}")
    raise

# Приведение типов для записи в ClickHouse
top_stores = top_stores.select(
    col("store_name"),
    col("store_city"),
    col("store_country"),
    col("total_revenue").cast("decimal(18,2)").alias("total_revenue"),
    col("order_count").cast("integer").alias("order_count")
)

sales_by_location = sales_by_location.select(
    col("store_country"),
    col("store_city"),
    col("total_revenue").cast("decimal(18,2)").alias("total_revenue"),
    col("total_quantity").cast("integer").alias("total_quantity"),
    col("order_count").cast("integer").alias("order_count")
)

avg_order_by_store = avg_order_by_store.select(
    col("store_name"),
    col("store_city"),
    col("store_country"),
    col("avg_order_value").cast("decimal(18,2)").alias("avg_order_value"),
    col("total_revenue").cast("decimal(18,2)").alias("total_revenue"),
    col("order_count").cast("integer").alias("order_count")
)

# Запись данных в ClickHouse
try:
    # 1. Топ-5 магазинов
    top_stores.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "top_stores") \
        .mode("append") \
        .save()
    
    # 2. Распределение по локациям
    sales_by_location.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "sales_by_location") \
        .mode("append") \
        .save()
    
    # 3. Средний чек по магазинам
    avg_order_by_store.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "avg_order_by_store") \
        .mode("append") \
        .save()
    
    print("\nВсе витрины по магазинам успешно записаны в ClickHouse!")
    
except Exception as e:
    print(f"\nОшибка при записи: {str(e)}")

# Вывод результатов
print("\nТоп-5 магазинов по выручке:")
top_stores.show(truncate=False)

print("\nРаспределение продаж по городам и странам (первые 10 записей):")
sales_by_location.show(10, truncate=False)

print("\nСредний чек по магазинам (первые 10 записей):")
avg_order_by_store.show(10, truncate=False)

Таблицы для витрины магазинов успешно созданы

Все витрины по магазинам успешно записаны в ClickHouse!

Топ-5 магазинов по выручке:
+----------+----------+----------------+-------------+-----------+
|store_name|store_city|store_country   |total_revenue|order_count|
+----------+----------+----------------+-------------+-----------+
|Quatz     |Kamubheka |France          |2544.98      |10         |
|Quatz     |Kremidivka|Papua New Guinea|2544.98      |10         |
|Quatz     |Sitovo    |South Africa    |2544.98      |10         |
|Quatz     |Hedi      |Uzbekistan      |2544.98      |10         |
|Quatz     |Vardenik  |Russia          |2544.98      |10         |
+----------+----------+----------------+-------------+-----------+


Распределение продаж по городам и странам (первые 10 записей):
+-------------+-------------------+-------------+--------------+-----------+
|store_country|store_city         |total_revenue|total_quantity|order_count|
+-------------+-------------------+-------------+--------------+-----------+
|Afghanistan  |Gjinkar            |1512.02      |23            |4          |
|Afghanistan  |Urozhaynoye        |1010.89      |17            |4          |
|Afghanistan  |Yuzhai             |707.42       |25            |4          |
|Afghanistan  |Yidu               |571.21       |16            |4          |
|Aland Islands|Haninge            |813.63       |9             |3          |
|Albania      |Hamburg Sankt Pauli|1714.65      |21            |5          |
|Albania      |Tando Jām          |1130.09      |11            |3          |
|Albania      |Valašská Polanka   |721.55       |10            |3          |
|Albania      |Glugur Tengah      |699.05       |20            |4          |
|Albania      |São Bartolomeu     |665.61       |16            |3          |
+-------------+-------------------+-------------+--------------+-----------+
only showing top 10 rows


Средний чек по магазинам (первые 10 записей):
+------------+-------------+-------------+---------------+-------------+-----------+
|store_name  |store_city   |store_country|avg_order_value|total_revenue|order_count|
+------------+-------------+-------------+---------------+-------------+-----------+
|Chatterpoint|Chong’ansi   |China        |496.02         |496.02       |1          |
|Wikizz      |San Alejandro|Portugal     |488.70         |977.40       |2          |
|Wikizz      |Zhigulevsk   |Sweden       |488.70         |977.40       |2          |
|Jabberstorm |Vidin        |Morocco      |484.51         |484.51       |1          |
|Brainverse  |Békéscsaba   |France       |477.99         |1433.96      |3          |
|Brainverse  |Canutama     |Japan        |477.99         |1433.96      |3          |
|Brainverse  |Charleston   |Serbia       |477.99         |1433.96      |3          |
|Yacero      |Ganting      |China        |463.15         |463.15       |1          |
|Yata        |Brooklyn     |China        |451.31         |451.31       |1          |
|Edgetag     |Azogues      |Uzbekistan   |445.95         |891.90       |2          |
+------------+-------------+-------------+---------------+-------------+-----------+
only showing top 10 rows

In [59]:
# 1. Топ-5 поставщиков с наибольшей выручкой
top_suppliers = sales_df.join(products_df, "sale_product_id", "inner") \
                       .join(suppliers_df, products_df["product_brand"] == suppliers_df["supplier_name"], "inner") \
                       .groupBy("supplier_name", "supplier_country") \
                       .agg(
                           sum("sale_total_price").alias("total_revenue"),
                           count("*").alias("order_count")
                       ) \
                       .orderBy(col("total_revenue").desc()) \
                       .limit(5)

# 2. Средняя цена товаров от каждого поставщика
avg_price_by_supplier = products_df.join(suppliers_df, products_df["product_brand"] == suppliers_df["supplier_name"], "inner") \
                                 .groupBy("supplier_name", "supplier_country") \
                                 .agg(
                                     avg("product_price").alias("avg_product_price"),
                                     count("*").alias("product_count")
                                 ) \
                                 .orderBy(col("avg_product_price").desc())

# 3. Распределение продаж по странам поставщиков
sales_by_supplier_country = sales_df.join(products_df, "sale_product_id", "inner") \
                                   .join(suppliers_df, products_df["product_brand"] == suppliers_df["supplier_name"], "inner") \
                                   .groupBy("supplier_country") \
                                   .agg(
                                       sum("sale_total_price").alias("total_revenue"),
                                       sum("sale_quantity").alias("total_quantity"),
                                       count("*").alias("order_count")
                                   ) \
                                   .orderBy(col("total_revenue").desc())

# Создаем таблицы в ClickHouse для витрины поставщиков
try:
    java_import(spark._jvm, "java.sql.DriverManager")
    conn = spark._jvm.DriverManager.getConnection(
        clickhouse_url,
        clickhouse_properties["user"],
        clickhouse_properties["password"]
    )
    stmt = conn.createStatement()
    
    stmt.execute("DROP TABLE IF EXISTS mydatabase.top_suppliers")
    stmt.execute("DROP TABLE IF EXISTS mydatabase.avg_price_by_supplier")
    stmt.execute("DROP TABLE IF EXISTS mydatabase.sales_by_supplier_country")
    
    stmt.execute("""
    CREATE TABLE mydatabase.top_suppliers (
        supplier_name String,
        supplier_country String,
        total_revenue Decimal(18,2),
        order_count UInt32
    ) ENGINE = MergeTree()
    ORDER BY (total_revenue)
    """)
    
    stmt.execute("""
    CREATE TABLE mydatabase.avg_price_by_supplier (
        supplier_name String,
        supplier_country String,
        avg_product_price Decimal(18,2),
        product_count UInt32
    ) ENGINE = MergeTree()
    ORDER BY (avg_product_price)
    """)
    
    stmt.execute("""
    CREATE TABLE mydatabase.sales_by_supplier_country (
        supplier_country String,
        total_revenue Decimal(18,2),
        total_quantity UInt32,
        order_count UInt32
    ) ENGINE = MergeTree()
    ORDER BY (total_revenue)
    """)
    
    stmt.close()
    conn.close()
    print("Таблицы для витрины поставщиков успешно созданы")
except Exception as e:
    print(f"Ошибка при создании таблиц: {str(e)}")
    raise

# Приведение типов для записи в ClickHouse
top_suppliers = top_suppliers.select(
    col("supplier_name"),
    col("supplier_country"),
    col("total_revenue").cast("decimal(18,2)").alias("total_revenue"),
    col("order_count").cast("integer").alias("order_count")
)

avg_price_by_supplier = avg_price_by_supplier.select(
    col("supplier_name"),
    col("supplier_country"),
    col("avg_product_price").cast("decimal(18,2)").alias("avg_product_price"),
    col("product_count").cast("integer").alias("product_count")
)

sales_by_supplier_country = sales_by_supplier_country.select(
    col("supplier_country"),
    col("total_revenue").cast("decimal(18,2)").alias("total_revenue"),
    col("total_quantity").cast("integer").alias("total_quantity"),
    col("order_count").cast("integer").alias("order_count")
)

# Запись в ClickHouse
try:
    # 1. Топ-5 поставщиков
    top_suppliers.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "top_suppliers") \
        .mode("append") \
        .save()
    
    # 2. Средняя цена товаров
    avg_price_by_supplier.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "avg_price_by_supplier") \
        .mode("append") \
        .save()
    
    # 3. Распределение по странам
    sales_by_supplier_country.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "sales_by_supplier_country") \
        .mode("append") \
        .save()
    
    print("\nВсе витрины по поставщикам успешно записаны в ClickHouse!")
    
except Exception as e:
    print(f"\nОшибка при записи: {str(e)}")

# Вывод результатов
print("\nТоп-5 поставщиков по выручке:")
top_suppliers.show(truncate=False)

print("\nСредняя цена товаров по поставщикам (первые 10 записей):")
avg_price_by_supplier.show(10, truncate=False)

print("\nРаспределение продаж по странам поставщиков:")
sales_by_supplier_country.show(truncate=False)

Таблицы для витрины поставщиков успешно созданы

Все витрины по поставщикам успешно записаны в ClickHouse!

Топ-5 поставщиков по выручке:
+-------------+----------------+-------------+-----------+
|supplier_name|supplier_country|total_revenue|order_count|
+-------------+----------------+-------------+-----------+
|Jayo         |China           |9075.56      |28         |
|Voomm        |China           |5985.96      |36         |
|Bubblebox    |China           |4942.26      |18         |
|Mynte        |China           |4293.98      |14         |
|Skimia       |Russia          |3670.52      |12         |
+-------------+----------------+-------------+-----------+


Средняя цена товаров по поставщикам (первые 10 записей):
+-------------+----------------+-----------------+-------------+
|supplier_name|supplier_country|avg_product_price|product_count|
+-------------+----------------+-----------------+-------------+
|Kamba        |Philippines     |98.22            |1            |
|Kamba        |South Africa    |98.22            |1            |
|Kamba        |Indonesia       |98.22            |1            |
|Kamba        |China           |98.22            |1            |
|Avamm        |China           |96.05            |1            |
|Avamm        |France          |96.05            |1            |
|Meezzy       |Thailand        |95.71            |1            |
|Meezzy       |Russia          |95.71            |1            |
|Meezzy       |Greece          |95.71            |1            |
|Einti        |Indonesia       |94.54            |2            |
+-------------+----------------+-----------------+-------------+
only showing top 10 rows


Распределение продаж по странам поставщиков:
+----------------+-------------+--------------+-----------+
|supplier_country|total_revenue|total_quantity|order_count|
+----------------+-------------+--------------+-----------+
|China           |143615.58    |3082          |569        |
|Indonesia       |66709.06     |1405          |248        |
|Russia          |55611.24     |1159          |211        |
|Philippines     |36675.17     |783           |140        |
|Brazil          |30176.62     |635           |119        |
|Poland          |26244.20     |568           |103        |
|Portugal        |22151.52     |478           |86         |
|Czech Republic  |20226.35     |386           |74         |
|United States   |19625.37     |473           |83         |
|Sweden          |19280.58     |407           |77         |
|France          |14844.04     |335           |61         |
|Colombia        |12538.85     |299           |48         |
|Argentina       |12332.09     |244           |46         |
|Ukraine         |11675.75     |260           |46         |
|Thailand        |10840.17     |207           |38         |
|Peru            |10763.17     |197           |38         |
|Greece          |10110.46     |233           |41         |
|Canada          |8940.57      |232           |41         |
|Nigeria         |8622.51      |171           |33         |
|Japan           |7959.26      |165           |32         |
+----------------+-------------+--------------+-----------+
only showing top 20 rows

In [64]:
# 1. Продукты с наивысшим и наименьшим рейтингом
product_ratings = products_df.select(
    col("sale_product_id").alias("product_id"),  # Переименовываем для ясности
    "product_name",
    "product_category",
    "product_rating",
    "product_reviews"
).filter(col("product_rating").isNotNull())

top_rated_products = product_ratings.orderBy(col("product_rating").desc()).limit(10)
low_rated_products = product_ratings.orderBy(col("product_rating").asc()).limit(10)

# 2. Корреляция между рейтингом и объемом продаж
rating_sales_correlation = sales_df.join(
    products_df, 
    sales_df["sale_product_id"] == products_df["sale_product_id"],
    "inner"
).groupBy(
    products_df["sale_product_id"].alias("product_id"),  # Явно указываем таблицу и переименовываем
    "product_name", 
    "product_rating"
).agg(
    sum(sales_df["sale_quantity"]).alias("total_quantity"),
    sum(sales_df["sale_total_price"]).alias("total_revenue")
).filter(col("product_rating").isNotNull())

# 3. Продукты с наибольшим количеством отзывов
most_reviewed_products = products_df.select(
    col("sale_product_id").alias("product_id"),
    "product_name",
    "product_category",
    "product_rating",
    "product_reviews"
).orderBy(col("product_reviews").desc()).limit(10)

# Создаем таблицы в ClickHouse для витрины продуктов
try:
    conn = spark._jvm.DriverManager.getConnection(
        clickhouse_url,
        clickhouse_properties["user"],
        clickhouse_properties["password"]
    )
    stmt = conn.createStatement()
    
    stmt.execute("DROP TABLE IF EXISTS mydatabase.product_ratings_analysis")
    stmt.execute("DROP TABLE IF EXISTS mydatabase.rating_sales_relationship")
    stmt.execute("DROP TABLE IF EXISTS mydatabase.most_reviewed_products")
    
    # Таблица с анализом рейтингов
    stmt.execute("""
    CREATE TABLE mydatabase.product_ratings_analysis (
        product_id String,
        product_name String,
        product_category String,
        product_rating Decimal(3,1),
        product_reviews UInt32,
        rating_type String
    ) ENGINE = MergeTree()
    ORDER BY (rating_type, product_rating)
    """)
    
    # Таблица с корреляцией рейтинга и продаж
    stmt.execute("""
    CREATE TABLE mydatabase.rating_sales_relationship (
        product_id String,
        product_name String,
        product_rating Decimal(3,1),
        total_quantity UInt32,
        total_revenue Decimal(18,2)
    ) ENGINE = MergeTree()
    ORDER BY (product_rating)
    """)
    
    # Таблица с продуктами с наибольшим количеством отзывов (ИЗМЕНЕНИЕ ЗДЕСЬ)
    stmt.execute("""
    CREATE TABLE mydatabase.most_reviewed_products (
        product_id String,
        product_name String,
        product_category String,
        product_rating Decimal(3,1),
        product_reviews UInt32
    ) ENGINE = MergeTree()
    ORDER BY (product_reviews)  -- Убрали DESC, сортировка по возрастанию
    """)
    
    stmt.close()
    conn.close()
    print("Таблицы для витрины продуктов успешно созданы")
except Exception as e:
    print(f"Ошибка при создании таблиц: {str(e)}")
    raise

# Подготовка данных для записи
top_rated_for_db = top_rated_products.withColumn("rating_type", lit("top"))
low_rated_for_db = low_rated_products.withColumn("rating_type", lit("low"))
all_ratings_for_db = top_rated_for_db.union(low_rated_for_db)

# Приведение типов
all_ratings_for_db = all_ratings_for_db.select(
    col("product_id"),
    col("product_name"),
    col("product_category"),
    col("product_rating").cast("decimal(3,1)"),
    col("product_reviews").cast("integer"),
    col("rating_type")
)

rating_sales_correlation = rating_sales_correlation.select(
    col("product_id"),
    col("product_name"),
    col("product_rating").cast("decimal(3,1)"),
    col("total_quantity").cast("integer"),
    col("total_revenue").cast("decimal(18,2)")
)

most_reviewed_products = most_reviewed_products.select(
    col("product_id"),
    col("product_name"),
    col("product_category"),
    col("product_rating").cast("decimal(3,1)"),
    col("product_reviews").cast("integer")
)

# Запись в ClickHouse
try:
    all_ratings_for_db.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "product_ratings_analysis") \
        .mode("append") \
        .save()
    
    rating_sales_correlation.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "rating_sales_relationship") \
        .mode("append") \
        .save()
    
    most_reviewed_products.write \
        .format("jdbc") \
        .option("url", clickhouse_url) \
        .options(**clickhouse_properties) \
        .option("dbtable", "most_reviewed_products") \
        .mode("append") \
        .save()
    
    print("\nВсе витрины по продуктам успешно записаны в ClickHouse!")
    
except Exception as e:
    print(f"\nОшибка при записи: {str(e)}")

# Вывод результатов
print("\nТоп-10 продуктов с наивысшим рейтингом:")
top_rated_products.show(truncate=False)

print("\nТоп-10 продуктов с наименьшим рейтингом:")
low_rated_products.show(truncate=False)

print("\nТоп-10 продуктов с наибольшим количеством отзывов:")
most_reviewed_products.show(truncate=False)

print("\nКорреляция между рейтингом и продажами:")
rating_sales_correlation.show(10, truncate=False)

Таблицы для витрины продуктов успешно созданы

Все витрины по продуктам успешно записаны в ClickHouse!

Топ-10 продуктов с наивысшим рейтингом:
+----------+------------+----------------+--------------+---------------+
|product_id|product_name|product_category|product_rating|product_reviews|
+----------+------------+----------------+--------------+---------------+
|210       |Dog Food    |Food            |5.0           |107            |
|945       |Dog Food    |Cage            |5.0           |104            |
|654       |Cat Toy     |Cage            |5.0           |335            |
|876       |Dog Food    |Cage            |5.0           |447            |
|838       |Cat Toy     |Toy             |5.0           |461            |
|523       |Dog Food    |Toy             |5.0           |966            |
|921       |Bird Cage   |Cage            |5.0           |620            |
|505       |Dog Food    |Toy             |5.0           |456            |
|434       |Dog Food    |Cage            |5.0           |714            |
|65        |Cat Toy     |Toy             |5.0           |838            |
+----------+------------+----------------+--------------+---------------+


Топ-10 продуктов с наименьшим рейтингом:
+----------+------------+----------------+--------------+---------------+
|product_id|product_name|product_category|product_rating|product_reviews|
+----------+------------+----------------+--------------+---------------+
|940       |Bird Cage   |Food            |1.0           |391            |
|94        |Cat Toy     |Toy             |1.0           |152            |
|718       |Bird Cage   |Food            |1.0           |164            |
|455       |Dog Food    |Toy             |1.0           |690            |
|103       |Cat Toy     |Cage            |1.0           |94             |
|382       |Cat Toy     |Food            |1.0           |648            |
|517       |Dog Food    |Food            |1.0           |915            |
|868       |Dog Food    |Food            |1.0           |291            |
|227       |Dog Food    |Toy             |1.0           |210            |
|286       |Dog Food    |Toy             |1.0           |909            |
+----------+------------+----------------+--------------+---------------+


Топ-10 продуктов с наибольшим количеством отзывов:
+----------+------------+----------------+--------------+---------------+
|product_id|product_name|product_category|product_rating|product_reviews|
+----------+------------+----------------+--------------+---------------+
|986       |Bird Cage   |Toy             |1.7           |1000           |
|826       |Dog Food    |Food            |3.8           |995            |
|966       |Cat Toy     |Cage            |4.6           |994            |
|25        |Dog Food    |Toy             |2.1           |992            |
|609       |Dog Food    |Cage            |2.4           |991            |
|713       |Cat Toy     |Toy             |4.5           |990            |
|441       |Bird Cage   |Toy             |4.1           |990            |
|763       |Dog Food    |Food            |4.5           |989            |
|346       |Dog Food    |Toy             |1.7           |989            |
|514       |Bird Cage   |Toy             |4.4           |989            |
+----------+------------+----------------+--------------+---------------+


Корреляция между рейтингом и продажами:
+----------+------------+--------------+--------------+-------------+
|product_id|product_name|product_rating|total_quantity|total_revenue|
+----------+------------+--------------+--------------+-------------+
|148       |Cat Toy     |3.0           |4             |275.44       |
|463       |Bird Cage   |3.4           |7             |448.85       |
|471       |Bird Cage   |4.5           |10            |37.29        |
|833       |Cat Toy     |3.8           |7             |137.94       |
|496       |Dog Food    |5.0           |1             |346.99       |
|737       |Bird Cage   |3.2           |5             |71.48        |
|623       |Cat Toy     |4.6           |8             |361.16       |
|858       |Dog Food    |1.7           |2             |128.28       |
|243       |Cat Toy     |3.6           |10            |372.34       |
|540       |Bird Cage   |3.9           |5             |312.29       |
+----------+------------+--------------+--------------+-------------+
only showing top 10 rows